#selectionArea{
display: flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
color:white;
line-height: 75px;
font-size: 25px;
}

h1{
text-align:center;
color:white;	
}

body{
	background-image:url("pickBackground.jpg")
	
}